/*pagina TRES equipo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imagen1 {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.imagen2 {
  width: 200px; /*ancho*/
  height: 200px; /*alto*/
  object-fit: cover;
}

.overflow {
  width: 300px; /*ancho*/
  margin: 0 auto;
}

.overflow p {
  font-size: 20px; /*tama letra*/
  text-align: center;
  line-height: 1.5; /*separacion texto*/
  display: flex;
  justify-content: right;
  align-items: right;
  color: grey;
}

.parrafo p {
  text-align: center;
  font-size: 18px;
  padding-bottom: 15px;
}

img {
  width: 250px;
  height: 300px;
  justify-self: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
  gap: 15px;
  padding: 80px;
}

.grid p {
  padding: 1rem;
  line-height: 1.5;
  font-size: 16px;
}

.flex p {
  display: flex;
  justify-content: center;
  font-size: 100px;
}
