/*general*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: monospace; /*tipo de letra*/
}

.topbar-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffffaa;
}

.menu {
  padding: 20px;
  list-style: none;
  display: flex;
  font-family: monospace;
  text-transform: uppercase;
}

.menu link {
  display: inline-block;
}
.menu a {
  padding: 20px;
  margin: 10px;
  color: black;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.link:hover {
  font-weight: bold;
}

.section {
  min-height: 100vh;
  width: 100%;
}

.section__grey {
  background-color: #f2f2f0;
}

footer {
  display: flex;
  justify-content: center;
}

footer a {
  font-family: Montserrat, "Open Sans", sans-serif;
  color: black;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}
footer a:hover {
  color: grey;
}
