/*pagina TRES equipo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex__container {
  display: flex; /* Habilita Flexbox */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  padding-top: 10px;
}

.imagenes {
  display: flex; /* Habilita Flexbox para las imágenes */
  flex-direction: column; /* Apila las imágenes una encima de la otra */
  margin-right: 20px; /* Espacio entre las imágenes y el texto */
}

.imagenes img {
  width: 250px; /* Ancho de las imágenes */
  height: 300px;
  margin: 20px;
}

.texto p {
  font-family: Montserrat, "Open Sans", sans-serif;
  font-size: 17px;
  padding: 10px;
}

.texto2 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.texto2 p {
  font-family: Montserrat, "Open Sans", sans-serif;
  font-size: 16px;
  margin: 20px;
}
