* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}
h1 {
  padding: 20px;
  color: black;
  text-align: center;
  font-family: monospace;
  text-transform: uppercase;
}

img {
  width: 250px;
  padding: 0 3px;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
img:hover {
  border: solid white 3px;
}

.proyecto2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
