* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.menu {
  margin-bottom: 0; /* Ajusta este valor según sea necesario */
}

.custom-carousel {
  margin-top: 0; /* Ajusta este valor según sea necesario */
  max-width: 100%; /* Controla el ancho máximo del carrusel */
}

.carousel-inner {
  height: 600px; /* Ajusta esta altura según tus necesidades */
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  object-fit: cover; /* Asegura que la imagen cubra completamente el área disponible sin distorsionarse */
}

main {
  padding-top: none;
}

h1 {
  font-family: Montserrat, "Open Sans", sans-serif;
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
h2 {
  font-family: Montserrat, "Open Sans", sans-serif;
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
  padding: 10px;
}

.gallery__container {
  display: flex;
  justify-content: space-around; /* Distribuye el espacio igualmente entre las imágenes */
  flex-wrap: nowrap; /* Evita que las imágenes se envuelvan a la siguiente línea */
}

.gallery__container img {
  flex: 1 0 auto; /* Permite que las imágenes crezcan para llenar el espacio disponible */
  width: 80px;
  height: 250px;
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio disponible sin perder su relación de aspecto */
  margin: 10px; /*  Agrega un poco de espacio alrededor de cada imagen */
}
