* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: Montserrat, "Open Sans", sans-serif;
  text-transform: uppercase;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
}

.texto h2,
.texto p {
  font-family: Montserrat, "Open Sans", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.flex__container {
  display: flex;
  justify-content: flex-end;
}

.flex__container img {
  width: 550px;
  height: 400px;
  padding: 20px;
}

.imagen {
  font-family: Montserrat, "Open Sans", sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center; /* Centra las imágenes horizontalmente */
  align-items: center; /* Centra las imágenes verticalmente */
}

.imagen img {
  width: 500px; /* Cambia el tamaño según tus necesidades */
  height: 350px; /* Asegúrate de que las imágenes tengan el mismo tamaño */
  object-fit: cover; /* Mantiene la proporción de las imágenes */
  margin: 5px; /* Espacio entre las imágenes */
  padding: 20px;
}

h2 {
  padding: 20px;
  font-family: Montserrat, "Open Sans", sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
