.title {
  font-family: monospace;
  font-size: 24px; /* Tamaño del título */
  margin: 0; /* Ajuste aquí para eliminar el margen completo alrededor del título */
  display: flex;
  justify-content: center;
  padding-top: 30px; /* Ajuste aquí para reducir o eliminar el espacio superior */
}

.content {
  height: 100%;
  width: 100%;
  padding-top: 30px;
}

.modern__form {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form__section {
  margin-bottom: 15px; /* Separación entre secciones */
}

.form__section label {
  display: block;
  margin-bottom: 5px;
}

.form__section input[type="text"],
.form__section input[type="email"],
.form__section textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.modern__form input[type="submit"],
.modern__form input[type="reset"] {
  background-color: #000000;
  color: hsl(0, 0%, 100%);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px; /* Añade un pequeño margen para separación */
}

.modern__form input[type="submit"]:hover,
.modern__form input[type="reset"]:hover {
  background-color: white;
  color: #000000;
}

.modern__form input[type="submit"]:focus,
.modern__form input[type="reset"]:focus {
  outline: none;
}
