h1 {
  font-family: monospace;
  font-size: 24px; /* Tamaño del título */
  margin: 0; /* Ajuste aquí para eliminar el margen completo alrededor del título */
  display: flex;
  justify-content: center;
  padding-top: 0; /* Ajuste aquí para reducir o eliminar el espacio superior */
}

.content {
  height: 100%;
  width: 100%;
  padding-top: 30px;
}

.modern__form {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form__section {
  margin-bottom: 15px; /* Separación entre secciones */
}

.form__section label {
  display: block;
  margin-bottom: 5px;
}

.form__section input[type="text"],
.form__section input[type="email"],
.form__section textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modern__form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.modern__form button[type="submit"]:hover {
  background-color: #0056b3;
}

.modern__form button[type="submit"]:focus {
  outline: none;
}
