.imagen__arqui {
  width: 800px;
  height: 400px;
  padding: 20px;
}
.flex_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  .card {
    border: none;
  }
  .card-title {
    font-family: Montserrat, "Open Sans", sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
  }
  p {
    display: flex;
    text-align: center;
    font-family: Montserrat, "Open Sans", sans-serif;
  }
}
.titulo {
  font-size: 20px;
  padding: 20px;
  font-family: Montserrat, "Open Sans", sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.imagen {
  font-family: Montserrat, "Open Sans", sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center; /* Centra las imágenes horizontalmente */
  align-items: center; /* Centra las imágenes verticalmente */
  img {
    width: 500px; /* Cambia el tamaño según tus necesidades */
    height: 350px; /* Asegúrate de que las imágenes tengan el mismo tamaño */
    object-fit: cover; /* Mantiene la proporción de las imágenes */
    margin: 5px; /* Espacio entre las imágenes */
    padding: 20px;
  }
}
