/* Personaliza el margen entre las imágenes */
.image-container img {
  margin-right: 20px; /* Añade un margen derecho entre las imágenes */
  padding-top: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.card {
  flex: 1; /* Evita que la tarjeta se estire */
  max-width: 900px; /* Ajusta el ancho según tus necesidades */
  padding: 20px; /* Ajusta el padding según tus necesidades */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
  .card-title {
    font-family: Montserrat, "Open Sans", sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
  }
  p {
    display: flex;
    text-align: center;
    font-family: Montserrat, "Open Sans", sans-serif;
  }
}
.image {
  margin-left: 20px; /* Ajusta el valor según el espacio que necesites */
}

.sector {
  display: flex;
  flex-direction: column; /* Mantén esto para organizar otros elementos si es necesario */
  align-items: center;
  box-sizing: border-box;
}

.titulo {
  font-size: 20px;
  padding: 20px;
  font-family: Montserrat, "Open Sans", sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* Cambia aquí para poner las imágenes una al lado de la otra */
  flex-wrap: nowrap; /* Evita que las imágenes se envuelvan a la siguiente línea */
}

.imagen img {
  width: 400px; /* Ancho fijo */
  height: 300px; /* Altura fija */
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio asignado sin distorsionarse */
  margin: 5px; /* Espacio entre las imágenes */
}
