/* Responsive Styles */
/*general*/
@media (max-width: 768px) {
  .sector__logo {
    display: flex; /* Mostrar el logo en pantallas pequeñas */
  }
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

#menu-toggle {
  display: none;
}
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .menu li {
    display: block;
    margin: 10px 0;
  }

  #menu-toggle:checked + .menu-icon + .menu {
    display: flex;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 10px; /* Establece un margen más pequeño en dispositivos móviles */
  }
}

@media (max-width: 768px) {
  footer {
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  footer p {
    margin-bottom: 10px; /* Agrega espacio entre los enlaces */
    font-size: 16px;
  }
}

/*index*/
@media screen and (max-width: 600px) {
  .index__header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    .titulo__principal {
      font-size: 40px;
      color: #333131;
    }
  }
  main {
    padding-top: -100px;
  }
  .grid-container-img {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; /* Cambiado para que las filas se ajusten automáticamente */
    row-gap: 30px; /* Agregado espacio entre las imágenes */
    padding: 0; /* Eliminado el padding horizontal */
  }

  .item-2,
  .item-4 {
    grid-column: 1;
    grid-row: 2;
  }

  img {
    width: 300px; /* Ajustado para que la imagen ocupe todo el ancho del contenedor */
  }
}

/*proyectos*/
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    text-align: center;
    margin-bottom: 10px; /* Espacio debajo del título */
    padding-top: 20px;
  }

  #miCarousel .carousel-inner {
    height: 210px;
  }

  .custom-carousel {
    padding-bottom: 10px;
  }

  main h2 {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  main .gallery__container {
    flex-direction: column;
    align-items: center;
  }

  main .gallery__container img {
    width: 90%; /* Ajusta el ancho de las imágenes para dispositivos móviles */
    height: auto;
  }
  /* Estilos para el menú hamburger */
  header nav {
    display: none; /* Oculta el menú de navegación por defecto */
    flex-direction: column;
    width: 100%;
    background-color: #333;
  }
}

/*que hacemos?*/
@media only screen and (max-width: 768px) {
  .contenedor {
    padding-top: 55px;
  }
  .flex-container {
    flex-direction: column; /* Cambia el diseño de las tarjetas a una columna */
  }
  .card {
    width: 100%; /* Tarjetas ocupan todo el ancho */
    margin-bottom: 20px; /* Espacio entre tarjetas */
  }
  .image {
    max-width: 100%; /* La imagen se ajustará al contenedor */
    height: auto; /* Para mantener la proporción */
    margin: 10px; /* Ajusta el margen entre las imágenes */
    object-fit: contain; /* Ajusta la imagen dentro del contenedor sin recortarla */
  }
  .imagen {
    flex-direction: column; /* Cambia el diseño de las imágenes a una columna */
    align-items: center; /* Centra las imágenes horizontalmente */
    img {
      max-width: 100%; /* La imagen se ajustará al contenedor */
      height: auto; /* Para mantener la proporción */
      margin: 10px auto; /* Centra las imágenes horizontalmente y añade espacio vertical entre ellas */
      object-fit: contain; /* Ajusta la imagen dentro del contenedor sin recortarla */
    }
  }
}

/*nosotras*/
@media screen and (max-width: 768px) {
  .flex__container {
    flex-direction: column; /* Cambiamos a columna para dispositivos móviles */
  }
  .texto {
    order: -1 !important; /* Cambiamos el orden para que el texto aparezca primero */
    p {
      font-size: 15px;
    }
  }
  .imagenes {
    order: 1; /* Cambiamos el orden para que las imágenes aparezcan después del texto */
    margin: 10px;
  }
}

/*contacto*/
/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .title {
    font-size: 18px; /* Tamaño del título */
    padding-top: 60px; /* Ajuste aquí para reducir o eliminar el espacio superior */
    padding-bottom: 0;
  }

  .modern__form {
    width: 80%; /* Reducir el ancho máximo del formulario para dispositivos móviles */
    margin: 0 auto; /* Centrar el formulario en la pantalla */
    padding: 10px; /* Añadir un poco de espacio alrededor del formulario */
  }

  .form__section input[type="text"],
  .form__section input[type="email"],
  .form__section textarea {
    width: calc(
      100% - 20px
    ); /* Utilizar todo el ancho disponible con un pequeño espacio para el borde */
    font-size: 14px; /* Reducir el tamaño de la fuente de los campos de entrada */
    padding: 8px; /* Reducir el relleno de los campos de entrada */
  }

  .modern__form input[type="submit"],
  .modern__form input[type="reset"] {
    width: calc(
      50% - 5px
    ); /* Ajustar el ancho del botón para que quepa en la pantalla con un pequeño margen */
    padding: 8px; /* Reducir el relleno del botón */
    font-size: 14px; /* Reducir el tamaño de la fuente del botón */
  }
  .form__section textarea {
    height: 100px; /* Reducir la altura de la caja de texto */
  }
}
