* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1 {
    font-family: monospace;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  p {
    font-family: monospace;
    font-size: 15px;
    line-height: 1.5; /* Ajusta el espaciado entre líneas */
  }
  
  img {
    width: 250px;
    height: 250px;
  }
  
  .flex-container {
    display: flex;
    align-items: center;
  }
  
  .flex1 {
    flex: 1;
  }
  .flex2 {
    flex: 2;
  }
  
  .img-flex {
    justify-content: center;
  }
  
  .vertical {
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
  }
  
  .medio {
    padding-top: 40px;
    justify-content: center;
  }